@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <style>
        .about {
            width: 570px;
            height: 570px;
            box-shadow: 6px 8px 80px 0px rgba(0,0,0,0.44);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 20px;
            border-radius: 10pt;
        }
    </style>
</head>
<body>
    <script src="~/Scripts/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    
        <div style="text-align:justify;font-size:14pt;font-weight:bold" class="about wow zoomIn">
            The biggest and most destructive myth in time management is that
            you can get everything done if only you follow the right system,
            use the right to-do list, or process your tasks in the right way.
            That’s a mistake. We live in a time when the uninterrupted stream
            of information and communication, combined with our unceasing 
            accessibility, means that we could work every single hour of the
            day and night and still not keep up. For that reason, choosing what
            we are going to ignore may well represent the most important, most
            strategic time-management  decision of all.<br /><br />
            “Time management” is the process of organizing and planning how to
            divide your time between specific activities. Good time management
            enables you to work smarter – not harder – so that you get more done
            in less time, even when time is tight and pressures are high. Failing
            to manage your time damages your effectiveness and causes stress.
        </div>
    
    
</body>
</html>

